<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <style type="text/css">{{ css }}</style>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">{{ js }}</script>
  </head>
  <body>
    <h1>{{ title }}</h1>
    {{ body }}
  </body>
</html>
