body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

h2 {
  border-bottom: 1px solid #eaeaea;
  font-size: 1.5em;
  font-weight: 600;
  margin: 24px 0 16px;
  padding-bottom: 0.3em;
}

p {
  font-size: 0.875rem;
}

code,
pre {
  background: #dfdfdf;
  border: 1px solid #ccc;
  font-family: monospace;
}

section.script > ol > li {
  transition: 0.2s;

  &.script-todo {
    opacity: 0.6;
  }

  &.script-active {
    background-color: #ff6;
  }

  &.script-completed {
    text-decoration: line-through;
    color: #060;
    opacity: 0.6;
  }
}
